.nav-color-green-dad {
    background: #10312B;
    height: 60px;
}

.nav-color-green-son {
    background: #235B4E;
    height: 50px;
}

.nav-text-tittle {
    font-family: 'Montserrat Light';
    height: 45px;
    color: #ffffff;
}

.bg-image {
    background-image: url('../sirh/fondo.png');
    background-size: cover;
    background-position: center;
    height: 50vw;
    background-attachment: fixed;
}

.bg-image-module {
    background-image: url('../sirh/fondo.png');
    background-size: cover;
    background-position: center;
    height: 63vw;
    background-attachment: fixed;
}

.navbar-nav .nav-link:hover {
    color: #BC955C;
}

.botton-active:active {
    color: #BC955C; 
}

.nav-tittle {
    margin-right: 1%;
    color: white;
    font-family: 'Montserrat Light';
}

.navbar-header {
    flex-grow: 1;
}

.wider-image {
    width: 170px;
    height: auto;
}

.wider-image-index {
    width: 75%;
    height: auto;
    margin: auto;
}

.nav-padding {
    padding: .10rem 4rem;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .0rem;
}

hr {
    background-color: transparent !important;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.button-color-index {
    background: #386B5F;
    font-family: 'Montserrat Light';
}

.tittle-card-index {
    font-weight: bold;
    font-family: "Arial";

}

.linea-horizontal {
    width: 10%;
    height: 8px;
    background: linear-gradient(to right, #BC955C 33%, transparent 33%, transparent 100%);
}

.icono-grande-tabla {
    font-size: 23px; 
    color:#9F2241;
}

.icono-pequeno-tabla {
    font-size: 18px; 
    color:#9F2241;
}

.form-control:focus {
    border-color: #BC955C;
    background-color: white;
    box-shadow: none;
}

.text-required{
    color:#9F2241;
}

.text-input-form{
    color:#2b2e32;
    /*font-weight: bold;*/
    font-family: 'Poppins', 'sans-serif';
}

.text-input-form-bold{
    color:	#343a40;
    font-size:101%;
    font-family: 'Poppins', 'sans-serif';
}

.text-input-form-bold-label{
    color:	#343a40;
    font-size:101%;
    font-family: 'Poppins', 'sans-serif';
    font-weight: bold;
}

.text-modal-tittle{
    font-weight: bold;
    color:white
}

.background-modal{
    background:#235B4E;
}

.row-spacing {
    margin-bottom: 20px; 
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    box-sizing: border-box;
}

.search-input-small {
    width: 100%;
    padding: 5px 35px 5px 5px;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    /*color:#BC955C*/
  }

  .div-spacing {
    margin-bottom: 10px;
  }

  .text-button-add{
    font-weight: bold;
  }


  .icon-size-add {
    font-size: 16px; 
    /*color:#235B4E;*/
    }

   .icon-edit-table{
    color: #BC955C;
   }

   .icon-delete-table{
    color: #9F2241;
   }

   .save-botton-modal{
    background-color:  #235B4E; 
    color: white
   }


   .icon-detail{
    color:#BC955C;
    font-weight: bold
   }

   .table-right{
    float: right;
   }
   
   .dropdown-item.active,
    .dropdown-item:active {
      background-color: #BC955C !important;
      color: #fff !important;
    }
   
    .custom-link:hover {
        color: #BC955C; 
      }

      .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        /*background-color: red;*/
        color: #BC955C;
        font-family: 'Poppins', 'sans-serif';
      }
  
      .nav-tabs .nav-link {
        /*background-color: #c3ff00;*/
        color: #235B4E;
        font-family: 'Poppins', 'sans-serif';
      }

    .text-result{
        color:#6c757d;
    }

    .color-text-tittle{
        color:white;
    }

    .font-size-modulo{
        font-size:85%;
    }

    .nav-all-not-size{
        padding-top: .0rem;
    }

    .custom-border {
        border: 1px solid #000000; 
        border-radius: 8px; 
    }

  .text-result-normal{
    font-weight: normal;
    font-size: 105%;
  }

  .text-input-rem{
    font-size: 1rem;
  }

  .vertical-line {
    border-left:6px solid #235B4E; 
    height: 30px; 
  }

  .padding-left-0{
    padding-left: 0;
  }

  .input-line {
    border: none; 
    border-bottom: 1px solid #ced4da; 
    border-radius: 0; 
    background-color: transparent; 
    padding: .375rem 0; 
    box-shadow: none; 
  }

  .input-line:focus {
    border-color: #BC955C; 
    box-shadow: none; 
  }




    /* Estilos personalizados */
    .custom-select-wrapper {
        position: relative;
    }
    
      .custom-select-wrapper select {
        width: 100%;
        padding: 8px 24px 8px 8px; /* Ajuste de relleno */
        font-size: 16px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #fff;
        /*
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='%23000'%3E%3Cpath d='M5 10l5 5 5-5z'/%3E%3C/svg%3E");
        */
        background-repeat: no-repeat;
        background-position: right 8px center; /* Posición del triángulo */
      }
    
      /* Triángulo personalizado */
      .custom-select-wrapper::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000; /* Color del triángulo */
        transform: translateY(-50%);
      }

      .dropdown-toggle-ix::after {
        display: none;
    }

    .dropdown-result{
        margin-left: -9em;
    }

    .icon-config{
        color:white; 
        font-size: 1.7em;
    }

    .icon-config:hover {
        color: #BC955C; 
    }

    .color-square {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;
    }

    .oval-label-hraes {
        display: inline-block;
        background-color: yellow;
        padding: 5px 15px;
        border-radius: 25px; 
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-right: 10px;
        vertical-align: middle;
    }

    .oval-label-central {
        display: inline-block;
        background-color: #08C4E6;
        padding: 5px 15px;
        border-radius: 25px; 
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-right: 10px;
        vertical-align: middle;
    }

    .input-select-selectpicker{
        background: #ffffff;
        color:#000000;
        border-color: #aeaeae;
      }


      .bootstrap-select:hover .dropdown-toggle {
        background-color: #f8f9fa;
    }

    .dropdown-item.active, .dropdown-item:active {
        background-color: #6c757d !important;
        color: #fff !important;
    }


    .custom-btn {
        padding: 5px 60px;
        /* Ajusta el padding para aumentar el tamaño */
        font-size: 18px;
        /* Ajusta el tamaño de la fuente */
    }

    .text-button-upload {
        font-weight: bold;
    }

    .text-right {
        text-align: right;
    }

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, #1e1e1e, #000000);
        opacity: 0.9;
        z-index: 9999;
        display: none;
    }

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
    }


    .btn-circle-custom {
        width: 30px;
        /* Ancho del botón */
        height: 30px;
        /* Altura del botón */
        border-radius: 50%;
        /* Hace que el botón sea completamente circular */
        border: 2px solid #007bff;
        /* Borde con ancho y color */
        background-color: transparent;
        /* Fondo transparente */
        display: inline-flex;
        /* Para alinear el contenido al centro */
        justify-content: center;
        /* Para alinear el contenido al centro */
        align-items: center;
        /* Para alinear el contenido al centro */
        padding: 0;
        /* Sin espacio interno */
    }

    .btn-outline-custom {
        border-color: #235B4E;
        /* Color del borde */
        color: #007bff;
        /* Color del texto */
    }

    .btn-outline-custom-red {
        border-color: #9F2241;
        /* Color del borde */
        color: #007bff;
        /* Color del texto */
    }

    .btn-outline-custom:hover {
        color: #a4aab0;
        /* Color del texto al pasar el cursor */
        background-color: #a4aab0;
        /* Fondo al pasar el cursor */
    }

    .btn-outline-custom:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        /* Sombra al enfocar */
    }

    .is-rem-text{
        font-size: 90%;
    }

    .text-bold{
        font-weight: bold;
    }

    .col-wide-action {
        width: 90px; /* Ajusta el ancho de la columna como desees */
    }

    .col-wide {
        width: 200px; /* Ajusta el ancho de la columna como desees */
    }

    .col-wide-x-150 {
        width: 150px; /* Ajusta el ancho de la columna como desees */
    }

    .col-wide-x-300 {
        width: 500px; /* Ajusta el ancho de la columna como desees */
    }

    .table-fixed {
        table-layout: fixed; /* Asegura que la tabla respete el ancho de las columnas */
        width: 100%; /* Asegura que la tabla ocupe el 100% del contenedor */
    }