.nav-tabs {
    position: relative;
    border-bottom: none;
}

.nav-tabs .nav-link {
    position: relative;
    z-index: 1;
    outline: none;
    /* Quitar el cuadro cuando se pulsa el texto */
    color: #6c757d; /*NOT SELECTION*/
    /*font-weight: bold;*/
    font-family: 'Montserrat', sans-serif;
}

.nav-tabs .nav-link.active {
    color:#BC955C;/*SELECTION*/
    background-color: transparent;
    border-color: transparent;

}

.nav-tabs::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #6c757d; /*LINEA*/
}

.nav-tabs::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: green;
    transition: all 0.3s ease;
}